<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/scheduling</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">senha123</property>

		<property name="connection_pool_size">1</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		
		<mapping class="br.com.scheduling.BO.SchedulingBO" />
		<mapping class="br.com.scheduling.VO.ClienteVO" />
		<mapping class="br.com.scheduling.VO.UsuarioVO" />
		<mapping class="br.com.scheduling.VO.FuncionarioVO" />
		<mapping class="br.com.scheduling.VO.StatusVO" />
		<mapping class="br.com.scheduling.VO.ProcedimentoVO" />
		<mapping class="br.com.scheduling.VO.PacienteVO" />
		<mapping class="br.com.scheduling.VO.AgendamentoVO" />
		
	</session-factory>
</hibernate-configuration>